.dark{
    background-color: black;
    color: white;
    font-size:20px;
}
#marqueeA{
color:lightblue;
}
#title{
    font-size:70px;
}
h2{
    font-size:40px;
}
.medium-size{
    font-size: 40px;
}
#Email{
    font-size: 20px;
}